<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance - Lista de movimientos</title>
  <link rel="stylesheet" href="static/css/flat-remix.css">
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

  <header>Balance de movimientos</header>

  <nav>
    Inicio | Nuevo
  </nav>

  <table class="lista">
    <tr>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Tipo</th>
      <th>Cantidad</th>
    </tr>
    {% for m in movs %}
    <tr>
      <td>{{ m.fecha }}</td>
      <td>{{ m.concepto }}</td>
      <td>{{ m.ingreso_gasto }}</td>
      <td>{{ m.cantidad }}</td>
    </tr>
    {% endfor %}
  </table>

  <footer>2023 Bootcamp Cero.</footer>
</body>

</html>
