header {
  background-color: #b8174c;
  color: white;
  height: 50px;
  font-size: large;
  line-height: 50px;
  padding-left: 25px;
}

nav {
  background-color: #19a187;
  color: #FFF;
  height: 25px;
  line-height: 25px;
  padding-left: 25px;
}

main {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

table.paper {
  width: 100%;
}

.titulo-tabla {
  border-bottom: solid thin #19a187;
  text-align: left;
}